body {
  @apply bg-blue-100;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  @apply flex h-screen;
}

.chat-wrapper {
  width: 100%;
  border-radius: 20px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  background: #fff;
  @apply shadow-2xl;

  .chat-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px -2px #000000;

    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;
      .profile-email {
        font-size: 28px;
        font-weight: 600;
        margin-right: 10px;
      }
      img {
        border: 1px solid gray;
        width: 49px;
        height: 49px;
        border-radius: 50%;
      }
    }
  }

  .counter-search__wrapper {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .client-queue {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .chat-message {
    width: 100%;
    height: calc(100% - 130px);
    box-shadow: inset 0px 0px 4px -2px #000000;
    border-radius: 20px;
    position: relative;
    @apply bg-blue-50;

    .messages-wrapper {
      width: 100%;
      height: 94%;
      display: flex;
      flex-direction: column;
      padding: 20px 10px;

      .message {
        max-width: 80%;
        min-width: 40%;
        position: relative;
        padding: 40px 10px 10px 10px;
        margin-bottom: 10px;
        .username {
          position: absolute;
          font-weight: 700;
          top: 10px;
          left: 10px;
        }

        .time-message {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #6e6e6e;
        }
      }

      .message-client {
        align-self: flex-start;
        background: #fff;
        border-radius: 10px 10px 10px 0;
        @apply shadow-lg shadow-blue-200;
      }

      .message-operator {
        align-self: flex-end;
        border-radius: 10px 10px 0px 10px;
        @apply bg-blue-200;
      }
      .send-message {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 20px 20px;

        input {
          height: 40px;
          width: 90%;
          border-bottom-left-radius: 20px;
          padding: 0 20px;
          outline: none;
          @apply border-l-2 border-b-2 border-solid border-blue-100;
        }
        button {
          width: 10%;
          height: 40px;
          color: #fff;
          border-bottom-right-radius: 20px;
          font-size: 24px;
          font-weight: 600;
          @apply bg-blue-400;
        }
      }
    }
  }
}
